Language: Cpp
IndentCaseLabels: true
IndentWidth: 2
TabWidth: 2
SpaceBeforeParens: Custom 
SpaceBeforeParensOptions:
  AfterControlStatements: true
  AfterFunctionDeclarationName: true
  AfterFunctionDefinitionName: true
  AfterOverloadedOperator: true
  AfterPlacementOperator: true
  AfterRequiresInClause: true
  AfterRequiresInExpression: true
